* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.7rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn:hover {
  color: #212529;
  text-decoration: none; }

.btn-black {
  color: #ffffff;
  background-color: black;
  border-color: black; }

.btn-black:hover {
  color: #ffffff;
  background-color: orange;
  border-color: orange; }

a.product {
  text-decoration: none;
  padding: 0px 15px;
  text-align: center; }
  a.product .title {
    color: black; }
  a.product .price {
    font-size: larger;
    color: orange; }
  a.product .original {
    text-decoration: line-through;
    font-size: small;
    color: grey; }
  a.product img {
    width: 100%; }
  a.product > * {
    margin: 0.5rem 0rem; }

a.product-list__item {
  display: flex;
  align-items: center;
  text-decoration: none; }
  a.product-list__item img {
    width: 33.33333%;
    flex-basis: 33.33333%; }
  a.product-list__item > .wrapper {
    text-align: start;
    color: grey; }
    a.product-list__item > .wrapper > * {
      margin-bottom: 1rem; }
    a.product-list__item > .wrapper .title {
      color: black; }
    a.product-list__item > .wrapper .price {
      font-size: xx-large;
      color: orange; }
    a.product-list__item > .wrapper .original {
      text-decoration: line-through;
      font-size: large;
      color: grey; }

li.list-item {
  list-style: none; }
  li.list-item a {
    text-decoration: none;
    color: grey; }

.pagination {
  display: inline-block;
  color: grey; }
  .pagination > * {
    margin: 0rem 0.2rem; }
  .pagination a {
    text-decoration: none;
    color: grey; }

.side-bar button {
  border: solid 1px #e6e6e6;
  padding: 0.5rem 0.8rem;
  background-color: transparent; }

.side-bar button:hover {
  border-color: orange;
  background-color: orange; }

.header__top {
  background-image: url(../img/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 140px; }

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center; }

.nav__item {
  margin: 0rem 1rem; }

.nav__link {
  text-decoration: none; }

.navbar-top {
  padding: 0.5rem 1rem; }

.navbar-top .nav__link {
  color: grey;
  font-size: 0.8rem; }

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%; }

.navbar-top {
  justify-content: space-around; }

.navbar-main {
  background-color: black;
  justify-content: center;
  position: relative; }

.navbar-main .nav__link {
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

.navbar-main .nav__link:hover,
.navbar-top .nav__link:hover {
  color: orange; }

#dropdown--1:hover .dropdown-menu {
  display: block; }

#dropdown--1 .dropdown-menu {
  display: none;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 30%;
  width: 60%;
  padding: 1rem;
  z-index: 1;
  border: solid orange 1px; }
  #dropdown--1 .dropdown-menu .wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%; }
    #dropdown--1 .dropdown-menu .wrapper .wrapper-item {
      padding: 1rem; }
    #dropdown--1 .dropdown-menu .wrapper img {
      width: 100%; }

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-intro {
  background-image: url(../img/home-page-bg-1.png), url(../img/home-page-bg-2.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: 20%, 10%;
  text-align: center;
  padding: 1rem 0rem; }
  .section-intro p {
    max-width: 60%; }
  .section-intro > * {
    margin: 1rem; }

.section-sale {
  background-image: url(../img/home-page-sale-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  width: 70%;
  padding-top: 12rem;
  padding-left: 5rem;
  padding-right: 5rem; }
  .section-sale__content {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: white; }
    .section-sale__content .wrapper {
      position: relative;
      justify-content: space-evenly; }
      .section-sale__content .wrapper h5 {
        position: absolute;
        top: 1rem;
        left: 1rem;
        transform: rotate(-45deg); }

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 5rem solid orange;
  border-right: 5rem solid transparent;
  position: absolute;
  top: 0px;
  left: 0px; }

.product-detail {
  max-width: 30%;
  align-items: flex-start; }
  .product-detail > * {
    margin: 1rem 0rem; }

.section-latest {
  margin: 1rem 0rem;
  width: 70%;
  text-align: center; }
  .section-latest .wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }

.section-gallery {
  margin: 1rem 0rem; }
  .section-gallery .wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }
    .section-gallery .wrapper img {
      width: 100%; }

.section-bestSellers {
  margin: 1rem 0rem;
  width: 70%;
  text-align: center; }
  .section-bestSellers .wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }

.section-news {
  display: grid;
  grid-template-columns: 66.66667% 33.33333%;
  width: 70%;
  margin: 1rem 0rem; }
  .section-news .blog {
    text-align: center; }
    .section-news .blog .wrapper {
      display: grid;
      grid-template-columns: 50% 50%; }
      .section-news .blog .wrapper .news {
        padding: 0rem 1rem;
        width: 100%;
        text-align: start; }
        .section-news .blog .wrapper .news img {
          width: 100%; }
        .section-news .blog .wrapper .news .detail {
          color: grey;
          font-size: 0.8rem; }
        .section-news .blog .wrapper .news .more {
          color: grey; }
  .section-news .customer {
    text-align: center; }
    .section-news .customer > * {
      margin: 1rem 0rem; }

.detail {
  display: flex;
  flex-direction: column;
  align-items: center; }

.product-link {
  width: 70%; }

.product-detail {
  max-width: 70%; }
  .product-detail__wrapper-top {
    width: 100%;
    display: grid;
    grid-template-columns: 8.33333% 50% 41.66667%; }
    .product-detail__wrapper-top__thumbnail {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: solid 1px #e6e6e6; }
      .product-detail__wrapper-top__thumbnail img {
        width: 100%; }
    .product-detail__wrapper-top__large-image {
      border: solid #e6e6e6;
      border-width: 1px 1px 1px 0px;
      margin-right: 2rem; }
      .product-detail__wrapper-top__large-image img {
        width: 100%; }
    .product-detail__wrapper-top__attribute > * {
      margin-bottom: 1rem; }
    .product-detail__wrapper-top__attribute h3 {
      color: grey;
      font-weight: 300; }
    .product-detail__wrapper-top__attribute .price {
      color: orange;
      font-size: 2rem; }
    .product-detail__wrapper-top__attribute .color {
      display: inline; }
      .product-detail__wrapper-top__attribute .color > * {
        margin: 0rem 0.2rem; }
      .product-detail__wrapper-top__attribute .color .square-1 {
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #e6ae48; }
      .product-detail__wrapper-top__attribute .color .square-2 {
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #030102; }
      .product-detail__wrapper-top__attribute .color .square-3 {
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #9c0001; }
    .product-detail__wrapper-top__attribute .size {
      border-radius: 0%; }
      .product-detail__wrapper-top__attribute .size form > * {
        width: 10rem; }
    .product-detail__wrapper-top__attribute .count .wrapper {
      background-color: #e6e6e6;
      display: inline-flex;
      align-items: center;
      padding: 0.2rem; }
      .product-detail__wrapper-top__attribute .count .wrapper form {
        display: inline; }
        .product-detail__wrapper-top__attribute .count .wrapper form input {
          width: 2rem; }
    .product-detail__wrapper-top__attribute .icon span {
      margin-right: 0.5rem; }
  .product-detail__wrapper-bottom {
    display: grid;
    grid-template-columns: 66.66667% 33.33333%; }
    .product-detail__wrapper-bottom .content .title {
      margin-bottom: 1rem; }
      .product-detail__wrapper-bottom .content .title li {
        list-style: none;
        display: inline;
        padding: 0.5rem 1rem 0.5rem 0rem; }
      .product-detail__wrapper-bottom .content .title li:hover {
        background-color: orange; }
      .product-detail__wrapper-bottom .content .title a {
        text-decoration: none;
        color: black; }

.product-recommend {
  margin: 1rem 0rem;
  width: 70%;
  text-align: center; }
  .product-recommend .wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; }

.product-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .product-list > .wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 70%; }
    .product-list > .wrapper .main-content__nav {
      display: flex;
      justify-content: space-between;
      border: solid 1px #e6e6e6;
      padding: 0.5rem; }
      .product-list > .wrapper .main-content__nav .icon a {
        color: grey;
        margin-right: 1rem; }

.product-grid {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .product-grid .wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 70%; }
    .product-grid .wrapper .main-content__nav {
      display: flex;
      justify-content: space-between;
      border: solid 1px #e6e6e6;
      padding: 0.5rem; }
      .product-grid .wrapper .main-content__nav .icon a {
        color: grey;
        margin-right: 1rem; }
    .product-grid .wrapper .main-content__grid {
      display: grid;
      grid-template-columns: 33.33333% 33.33333% 33.33333%; }

.brand {
  text-align: center; }
  .brand img {
    width: 80%; }

.contacts {
  width: 70%;
  display: grid;
  grid-template-columns: 16.66667% 16.66667% 33.33333% 33.33333%;
  margin-bottom: 1rem; }
  .contacts .contact__1 a,
  .contacts .contact__2 a {
    font-size: 0.8rem; }
  .contacts .contact__3 form {
    display: flex;
    align-items: center; }
    .contacts .contact__3 form input {
      height: 1.4rem;
      border-radius: 0%;
      border-color: grey;
      border-width: 1px 0px 1px 1px; }
    .contacts .contact__3 form button {
      border: black;
      background-color: black;
      color: white;
      padding: 0px 1rem;
      height: 1.4rem; }
    .contacts .contact__3 form .arrow-right {
      width: 0;
      height: 0;
      border-top: 0.7rem solid transparent;
      border-bottom: 0.7rem solid transparent;
      border-left: 0.7rem solid black; }
  .contacts .contact__3 a {
    text-decoration: none;
    color: grey;
    margin: 0.4rem; }
  .contacts .contact__4 a {
    font-size: 0.8rem; }

.payment {
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: grey; }
