.flex-column-y {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}
