main.product-grid
    .wrapper
        +side-bar
        .main-content
            .main-content__nav
                .icon
                    a(href="product-grid.html")
                        i.fa.fa-th
                    a(href="product-list.html")
                        i.fa.fa-th-list
                +pagination
            .main-content__grid
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-1.jpg','370.000','480.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-2.jpg','350.000','500.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-3.jpg','370.000','480.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-4.jpg','350.000','500.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-5.jpg','370.000','480.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-6.jpg','350.000','500.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-7.jpg','370.000','480.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-8.jpg','350.000','500.000')
                +product('RƯỢU VANG ĐÀ LẠT','../img/product-9.jpg','370.000','480.000')