-
    var navTopItem=[
        {name: 'Tài khoản của tôi', link: '#'}, 
        {name: 'Trạng thái đơn hàng', link: '#'}, 
        {name: 'Danh sách ưa thích', link: '#'}, 
        {name: 'Giỏ hàng', link: '#'}, 
        {name: 'Đặng nhập', link: '#'}, 
        {name: 'Đăng ký', link: '#'}, 
    ]
-
    var navMainItem = [
        {name: 'Rượu vang trắng', link: '#'}, 
        {name: 'Champagne', link: '#'}, 
        {name: 'Thông tin', link: '#'}, 
        {name: 'Blog', link: '#'}, 
        {name: 'Liên hệ', link: '#'}, 
    ];
-
    var dropDownItem = [
        'RƯỢU NGOẠI', 
        'Rượu Chivas', 
        'Hàng độc - Rượu độc đáo', 
        'Johnnie Walker', 
        'Rượu Whisky', 
        'Rượu Remy Martin', 
        'Rượu Glenmorangie', 
    ];